 .formPage {
     display: flex;
     justify-content: center;
     align-items: center;
     align-content: center;
     flex-direction: column;
     padding-top: 20px;
     width: 100%;
     background-color: white;
     /* padding: 30px 40px; */
 }

 #picker {
     width: 300px;
 }

 form {
    border-radius: 10px;
    /* padding: 50px 100px; */
    margin-bottom: 20px;
    /* background-color: #FCFCFC;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 7px; */
    margin-bottom: 100px
 }
/* 
 label {
     display: block;
     font-size: 14px;
     font-weight: 500;
     padding-bottom: 8px ;
     color: #676569;
     
 } */

 .normalInput {
    border: none;
    background-color: #fafbfc;
    height: 30px;
    max-width: 400px;
    /* min-width: 200px; */
    border: 1px solid #d1d5da;
    font-size: 12px;
    border-radius: 5px;
    /* box-shadow: inset 0 1px 2px rgba(27,31,35,.075); */
    padding: 4px 8px;
    outline: none; 
}


select {
    width: 100%;
    height: 35px;
    background-color: #fafbfc;
    border-color: #d1d5da;
    padding: 4px 8px;
    font-size: 13px;
    color: #676569;
}

.subHead {
    margin-top: 5px;
    padding-right: 25px;
    padding-bottom: 20px;
    color: #586069;
    border-bottom: 1px solid lightgray;
}

/* .btnContainer {
    border-top: #d1d5da 1px solid;
} */


.requiredSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
}

.requiredSection > .form-group {
    flex: 0 0 40%;
    margin-left: 0 10px;
}

.dateContainer {
    display: flex;
    position: relative;
}

.toggle {
    position: absolute;
    right: 0;
    top: -4px;
}

.picker {
    padding-bottom: 0;
}

.customInput {
    background-color: #fff;
  border-radius: 3px;
  border: 1px solid #ced4da;
  line-height: 1.5;
  width: 100%;
  /* padding: .375rem .75rem; */
  outline: none;
  font-size: 1rem;
}

.miniInput {
    width: 70px;
    height: 70px;
    /* background-color: #F7F8F6; */
    font-size: 40px;
    border-radius: 10px;
    text-align: center;

    background-color: white;
    border: var(--bone);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px ;
}

.color {
    color: var(--blue);
}

.ctm-form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
}

.big {
    font-size: 40px;
    font-weight: 600;
}

.ctm-form-group > *:first-child {
    flex: 0 0 40%;
}
.ctm-form-group > * {
    flex: 0 0 30%;
}

.cat-from-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.catItem {
    flex: 0 0 40%;
}

.smallCatItem {
    /* flex: 0 0 20%; */
}
