<div class=page *ngIf="gymnast$ | async as gymnast; else loading">
  <!-- <div>dit is gymnast {{ gymnast.firstname }}</div> -->
  
    <section class="pageSection">
      <div class="titleContainer">
        <h1 class="hoofdtitel">Eerstvolgende trainingen</h1>
        <div class="linkSection">
          <a [routerLink]="['/list']" class="infotekst">Alle trainingen </a>
          <mat-icon>keyboard_arrow_right </mat-icon>
        </div>
      </div>
      <app-training-list [isHomepage]="isHomepage"></app-training-list>
    </section>

    <section class="pageSection">
        <div class="titleContainer">
            <h1 class="hoofdtitel">Oefeningen</h1>
            <div class="linkSection">
                <a [routerLink]="['/exercise/exercises']" class="infotekst">Alle oefeningen </a>
                <mat-icon>keyboard_arrow_right </mat-icon>
            </div>
        </div>
        <div class="list">
            <app-exercise-list [isHomepage]="isHomepage"></app-exercise-list>
        </div>
        
    </section>

 

</div>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>