<div class=page *ngIf="gymnast$ | async as gymnast; else loading">
    <!-- <div>dit is gymnast {{ gymnast.firstname }}</div> -->

    <div>
        <section class="trainingSection">
            <div class="titleContainer">
                <h1 class="hoofdtitel">Eerstvolgende trainingen</h1>
                <div class="linkSection">
                    <a [routerLink]="['/list']" class="infotekst">Alle trainingen </a>
                    <mat-icon>keyboard_arrow_right </mat-icon> 
                </div>
               
                
            </div>
            <app-training-list [isHomepage]="isHomepage" ></app-training-list>
        </section>
    </div>
</div>

<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>