<div class="formPage">
<form  [formGroup]="trainingFg">
    <h2>Nieuwe Training </h2>

    <div>
        <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input  formControlName='date'  matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> 
    </div>
    <div>
        <label>Category</label>
        <select formControlName='category'>
            <option value="">Kies het onderwerp</option>
            <option [ngValue]="c"  *ngFor="let c of (categories$ | async)">
                {{c.name}}
            </option>
        </select>
    </div>
    <div>
      <label>Gevoel voor de training (tussen 1 en 10)</label>
      <input class="normalInput" formControlName="feelingBefore" type="number">
    </div>
    <div> 
        <label>Gevoel na de training (getal tussen 1 en 10)</label>
        <input class="normalInput" formControlName='feelingAfter' type='number'>
    </div>
    <div>
        <div>
            <button class="addButton cancelButton" (click)="cancelForm()">Annuleer</button>
            <button class="addButton" (click)="addTraining()">Voeg toe</button>
        </div>
    </div>
</form>
</div>



