.detailContainer { 
    width: 100%;
    display: flex;
    justify-content: center;
    /* margin-top: 20px; */
}

.infoSection {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 3rem 8em 5em 8em;
    background-color: #F7F8F6;
}

.number {
    font-size: 20px;
    font-weight: 600;
    color: var(--blauw);
}

.category { 
    color: white;
    width: fit-content;
    padding: 5px;
    border-radius: 8px;
    background-color: var(--blauw);
}

p {
    margin-bottom: 0px;
}

h2 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.btnContainer {
    display: flex;
    justify-content: space-between;
    border-top: solid rgb(0,0,0,0.3) 1px;
    padding-top: 20px;
    margin-top: 40px;
}

.btn:not(:first-child) {
    margin-left: 20px;
}

.btn {
    width: 10em;
    height: 2.4em;
    background-color: white;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
    border-style: solid;
    transition: all ease-in-out 0.05s;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    transform: scale(0.95,0.95);
  }

  .deleteBtn {
      background-color: #E34543 !important;
      border-color: #E34543 !important;
      color: white;
  }


  .infoContainer {
      display: flex;
      align-items: center;
  }

  .infoContainer > *:not(:first-child) {
      margin-left: 2em;
  }

  .customIcon {
      /* background-color: white; */
      cursor: pointer;
  }

