<div class="detailContainer" *ngIf="training">
    <div class="infoSection">
        <p class="category">{{training.category.name}}</p>
        <h2>Training van {{training.date |  date: "EEEE"}} {{training.date | date}}</h2>
        <p>Gevoel voor de training: <span class="number"> {{training.feelingBefore}}</span></p>
        <p>Gevoel na de training: <span class="number">{{training.feelingAfter}}</span></p>
        <p>Trainingen:</p>
        <div class="btnContainer">
            <button class="btn deleteBtn">Verwijder</button>
            <button [routerLink]="['']" class="btn">Annuleer</button>
        </div>
    </div>

</div>
