.formContainer {
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-top: 20px;
    background-color: #f8f9fa !important;
    padding-bottom: 30px;
}

.formSection {
    width: 40%;
    min-width: 240px;
    max-width: 500px;
    padding: 30px 50px;
}

.field {
    margin-top: 15px;
}


mat-radio-button:not(:first-child) {
    margin-left: 15px;
}

.ctmBtn {
    width: 100%;
    margin-bottom: 10px;
}

.loginContainer { 
    font-size: 0.9em;
}

.err {
    position: absolute;
    bottom: 0;
    right: 0;
}

.form-group {
    position: relative;
}


.invalidInput {
    border: red solid 1px;
   
}
