.formContainer {
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-top: 20px;
    background-color: #f8f9fa !important;
}

.formSection {
    width: 40%;
    min-width: 240px;
    max-width: 400px;
    padding: 30px 50px;
}

.field {
    margin-top: 15px;
}



.ctmBtn {
    width: 100%;
    margin-bottom: 10px;
}

.registerContainer {
    font-size: 0.8em;
}