<div class="formContainer">
  <form class="formSection" [formGroup]="user" (ngSubmit)=onSubmit()>
    <h1 class="hoofdtitel">Aanmelden</h1>


    <mat-card-content fxLayout='column'>
      <div fxLayout="column" fxLayoutGap="2%">
        <div class="form-group">
          <label class="infotekst">Email</label>
          <input formControlName="email" />
        </div>

        <div class="form-group">
          <label class="infotekst">Wachtwoord</label>
          <input type='password' formControlName="password" />
        </div>
      </div>
    </mat-card-content>
    <div class="actions" fxLayout="row">
      <button class="btn addButton ctmBtn" type="submit" dis>Meld aan</button>
    </div>
    <span class="registerContainer">
      Heb je nog geen account? 
      <a [routerLink]="['/user/register']">Registreer hier</a>
    </span>
  </form>
</div>