<div class="formContainer">
  <form data-cy="form" class="formSection" [formGroup]="user" (ngSubmit)=onSubmit()>
    <mat-error data-cy="generalError" class="errorMsg" *ngIf="errorMsg">
      {{this.errorMsg}}
    </mat-error>
    <h1 class="hoofdtitel">Aanmelden</h1>


    <mat-card-content fxLayout='column'>
      <div fxLayout="column" fxLayoutGap="2%">
        <div class="form-group">
          <label class="infotekst">Email</label>
          <input [ngClass]="{
            'invalidInput': errorMsg || 
            (user.get('email').errors && user.get('email').touched)
          }"
          formControlName="email"
          data-cy="username" />

          <!-- <mat-error>
            {{getErrorMessage(user.get('email').errors)}}
          </mat-error> -->

        </div>
        <div class="form-group">
          <label class="infotekst">Wachtwoord</label>
          <input [ngClass]="{
            'invalidInput': errorMsg ||
            (user.get('password').errors && user.get('password').touched)
          }" type='password' formControlName="password" 
          data-cy="password" />
          <!-- <mat-error>
            {{getErrorMessage(user.get('password').errors)}}
          </mat-error> -->
        </div>
        
      </div>
    </mat-card-content>
    
    <div class="actions" fxLayout="row">
      
      <button class="btn addButton ctmBtn" type="submit" data-cy="loginButton" [disabled]="!user.valid">Meld aan</button>
    </div>
    <span class="registerContainer">
      Heb je nog geen account? 
      <a [routerLink]="['/user/register']">Registreer hier</a>
    </span>
  </form>
</div>