.trainingContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* overflow: auto;
    padding-bottom: 3em; */
}

.page {
    background-color:var(--paars);
}

.trainingLijst {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.titleSection {
    display: flex;
    width: 100%;
    justify-content: center;
    justify-items: center;
    background-color:var(--paars);

}

.titleContainer {
    display: flex;
    flex-direction: row;
    width: 70%;
    align-items: center;
    justify-content: space-between;
}

.btn {
    height: 40px;
}


