<div class="detailContainer" *ngIf="training">
  <div class="infoSection">
    <p class="category">{{training.category.name}}</p>
    <div class="infoContainer">
      <h1 class="hoofdtitel">Training van {{training.day}} {{training.date | date}} </h1>
      <mat-icon (click)="initEditTraining()" class="icon md-36 customIcon">edit</mat-icon>
    </div>

    <div>
      <p class="ondertitel">Lichaamsgevoel</p>
      <div class="gevoelContainer">

        <div class="gevoel">
          <p class="infotekst">Start</p>
          <div class="numberScale">
            <div class="numberBox">
              <div class="numberInBox">
                {{training.feelingBeforeTraining}}
              </div>
            </div>
            <div class="scale">
              /10
            </div>
          </div>
        </div>
        <div class="gevoel">
          <p class="infotekst">Einde</p>
          <div class="numberScale">
            <div class="numberBox">
              <div class="numberInBox">
                {{training.feelingAfterTraining}}
              </div>
            </div>
            <div class="scale">
              /10
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="oefeningContainer">
      <div class="titleContainer">
        <div class="ondertitel">Oefeningen</div>
        <button (click)="initAddToTrainingForm()" class="btn addButton">Oefening toevoegen</button>
      </div>
      <div class="infotekst extratekst">Pas je gekozen oefeningen aan indien nodig</div>
      <app-training-exercises-list [trainingId]="training.id"></app-training-exercises-list>
    </div>
    <div class="btnContainer">
      <button (click)="removeTraining()" class="btn deleteBtn">Verwijder</button>
      <button [routerLink]="['']" class="btn">Terug</button>
    </div>
  </div>
</div>
<div *ngIf="isEdit">
  <app-add-training></app-add-training>
</div>
