.oefening {
    display: flex;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 20px;
    /* border: 1px red solid; */
    background-color: var(--gray);
    border-radius: 5px;
    min-width: 346px;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px;

}

.evaluatie {
    flex: 0 0 60%;
    margin-left: 30px;
    align-self: flex-end;
}