.miniInput {
    width: 70px;
    height: 70px;
    /* background-color: #F7F8F6; */
    font-size: 40px;
    border-radius: 10px;
    text-align: center;

    background-color: var(--achtergrond);
    border: var(--bone);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px ;
}

.exerciseInfoContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: solid rgb(0, 0, 0, 0.3) 1px;
    margin-bottom: 20px;
}

.exerciseInfoContainer > div {
    margin-right: 20px;
}

.mini-form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    align-items: center;
    flex-wrap: wrap;
}

.mini-form-group > * {
     margin-bottom: 10px
}

textarea {
    background-color: var(--achtergrond);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
    border: none;
}

.customTitle {
    margin-top: 0px;
    font-weight: 300;
}

.colorWord {
    color: var(--blue);
}

