.category {
  color: var(--blue);
  margin: 0px;
}

.vierkant {
  padding: 30px
}


.customBtn {
  width: 100%;
  background-color: var(--purple);
  color: white;
}

.customBtn:hover {
  background-color: var(--purple-hover);
}

.gevoelSection {
  display: flex;
  width: 100%;
  justify-content: center;

}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* width: 50%; */
  justify-content: space-between;
}

.flexItem {
  /* flex: 0 0 50%; */
  background-color: var(--bone-hover);
  border-radius: 10px;
  height: 80px;
  
  width: 80px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px ;
}

.flexText {
    font-size: 30px !important;
    font-weight: 600;
    text-align: center;
    line-height: 80px;

}
