.category { 
    font-size: small;
    color: #006b89;
    margin: 0px;
}

.training {
    /* min-width: 100px; */
    width: 200px;  
    /* border: 1px solid rgb(118, 114, 110, 0.2); */

    margin: 20px 20px;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    background: rgb(250, 250, 250);
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px ; */
    transition: ease 0.4s;
}



/* .training:hover {
    cursor: pointer;
    transform: scale(1.03, 1.03);
} */

.date {
    font-weight: 600;
}

.gevoel {
    margin: 5px 0;
    width: 80%;
    font-size: 14px;
}

span {
    float: right;
}

.training .btn-holder {
    justify-content: space-between;
    display: flex;
}

.btn-holder > * {
    margin-top: 60px;
    width: 40%;
    height: 30px;
    border-radius: 5px;
    font-size: 13px;
    outline: none;
    cursor: pointer;
}

.editBtn {
    border: 1px solid var(--blauw);
    background-color: var(--blauw);
    color: white;
}

.startBtn {
    
}


