.category { 
    font-size: small;
    color: #006b89;
    margin: 0px;
}

.vierkant {
    padding: 20px
}



/* .training:hover {
    cursor: pointer;
    transform: scale(1.03, 1.03);
} */

.date {
    font-weight: 600;
}

.gevoel {
    margin: 5px 0;
    width: 80%;
    font-size: 14px;
}

span {
    float: right;
}

.vierkant .btn-holder {
    justify-content: space-between;
    display: flex;
}

.btn-holder > * {
    margin-top: 60px;
    width: 40%;
    height: 30px;
    border-radius: 5px;
    font-size: 13px;
    outline: none;
    cursor: pointer;
}

.editBtn {
    border: 1px solid var(--blauw);
    background-color: var(--blauw);
    color: white;
}



