/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter:300&display=swap');



html {
    font-family: 'Inter', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; }

:root {
    --paars: #f2f2f8;
    --blauw: #006b89;
    
  }

  /* KNOPPEN  */
  .addButton {
    /* border: 1px black solid; */
    cursor: pointer;
    /* margin: 5px; */
    padding: 10px 25px;
    border-radius: 5px;
    background-color: var(--blauw);
    transition: ease-in-out 0.1s;
    color: white;
    overflow: hidden;
    font-size: 14px;
}

.addButton:hover{
    background-color: #8BBBC9;
    /* color: black; */
}

.addButton:disabled {
    background-color: #A2C9D4;
    cursor: default;
}

.cancelButton {
    background-color: white !important;
    color: black;
}

button {
    outline: none;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}
.form-group > * {
    padding-bottom: 10px ;
}

input, textarea{
    background-color: #fff ;
    border-radius: 3px;
    border: 1px solid #ced4da;
    line-height: 1.5;
    padding: .375rem .75rem;
    outline: none;
    font-size: 1rem;
}

textarea {
    resize: vertical;
    height: 70px;
}

.deleteBtn {
    background-color: #E34543 !important;
    border-color: #E34543 !important;
    color: white;
}

.btnContainer {
    display: flex;
    justify-content: space-between;
    border-top: solid rgb(0,0,0,0.3) 1px;
    padding-top: 20px;
    margin-top: 40px;
}

.btn:not(:first-child) {
    margin-left: 20px;
}

.btn {
    width: 10em;
    height: 2.4em;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
    border-style: solid;
    transition: all ease-in-out 0.05s;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    transform: scale(0.95,0.95);
  }
