  <div class="oefeningenContainer" *ngIf="exercises">
    <div *ngIf="!this.isListEmpty; else emptyList" class="lijstSection">
        <app-exercise 
          class="oefeningVierkant"  
          *ngFor="let e of (exercises | exerciseFilter : filterTitle)" 
          [e]="e"
          (exerciseId)="AddExistingExerciseToTraining($event)" >
        </app-exercise>
    </div>

  <ng-template #emptyList>
    <app-empty-list-placeholder [element]="oefeningElement" [addLink]="addOefeningLink"></app-empty-list-placeholder>
  </ng-template>
  </div>

