<div class="oefeningenPage">
  <div class="titleContainer">
    <h1 class="hoofdtitel">{{heading}}</h1>
    <input class="searchExercise" (keyup)="filterExercise$.next($event.target.value)" matInput placeholder="Zoek een oefening" type="text"
      #filter />
    <button class="btn addButton"(click)="initNewExercise()">Nieuwe oefening</button>
  </div>
    
  <app-exercise-list 
    class="lijstSection"
    [trainingId]="trainingId" 
    [filterTitle]="filterTitle"
    [isAnAddExerciseToTraining]="isAnAddExerciseToTraining"
    ></app-exercise-list>

</div>